/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
  height: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  color: #002147;
}
.dropdown {
  z-index: 2;
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  border: 2px solid #002147;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #002147;
  border-radius: 10px;
}
.dropdown .dropdown-button:hover {
  background-color: #279ccf;
  border: 2px solid #279ccf;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #002147;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #002147;
  border-radius: 10px;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.dropdown .dropdown-link:hover {
  color: #279ccf;
  background-color: #002147;
}
.dropdown .dropdown-hidden {
  display: none;
}
@media (max-width: 500px) {
  .dropdown {
    position: relative;
    margin: 10px;
  }
  .dropdown .dropdown-button {
    text-align: center;
  }
}
.nav-header h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 25px 30px;
  font-weight: 700;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 550;
}
h2 .social {
  color: #279ccf;
}
nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
nav .btn {
  text-decoration: none;
  background: #002147;
  border-radius: 10px;
  color: white;
  padding: 20px 46px 20px 46px;
  margin-right: 10px;
  font-weight: 700;
}
nav .btn:hover {
  color: white;
  background: #279ccf;
  font-weight: 700;
}
.btn2 {
  text-decoration: none;
  background: #002147;
  border-radius: 10px;
  color: white;
  padding: 20px 42px 20px 42px;
  margin-left: 10px;
  font-weight: 700;
}
.btn2:hover {
  color: white;
  background: #279ccf;
  font-weight: 700;
}
@media (max-width: 500px) {
  .nav-header h2 {
    font-size: 26px;
  }
}
footer {
  background: #002147;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
}
footer h3 {
  color: white;
  font-size: 30px;
  margin: 20px;
}
button {
  width: 300px;
  margin: 20px 20px;
  background: #279ccf;
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
button:hover {
  color: #279ccf;
  background: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  footer h3 {
    font-size: 25px;
  }
}
.us {
  font-size: 40px;
}
.home-page {
  padding: 10px;
}
.top-info {
  text-align: center;
  display: flex;
  align-items: baseline;
}
.top-info h4 {
  font-size: 16.7px;
  font-weight: 700;
  padding-bottom: 10px;
}
.middle-info .usPics {
  width: 234px;
  height: 234px;
  border-radius: 100%;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.middle-info h4 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}
.middle-info h5 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.middle-info p {
  padding-bottom: 15px;
}
@media (max-width: 500px) {
  .top-info {
    display: block;
  }
  .top-info h4 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .middle-info .usPics {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
body {
  background-color: #279ccf;
  background: #279ccf;
  background: linear-gradient(white, #279ccf, white);
}
.home-page {
  background: #F1F0EE;
  margin: 20px 10px 20px 10px;
  border-radius: 10px;
}
nav {
  margin-bottom: 50px;
}
.intro {
  display: flex;
  text-align: center;
  padding: 30px;
  font-size: 22px;
  color: #002147;
  font-weight: 700;
}
.intro p {
  border-bottom: solid 2px #e2dddd;
  width: 100%;
  padding-bottom: 30px;
  line-height: 1.3;
}
.person {
  text-align: center;
}
.person h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}
.person p {
  font-size: 18px;
  padding: 0 200px 0 200px;
  margin-top: 10px;
  padding-bottom: 40px;
  line-height: 1.3;
}
.bottom-info {
  text-align: center;
  display: flex;
  line-height: 1.3;
  border-top: solid 2px #e2dddd;
}
.bottom-info h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}
.motivate {
  width: 50%;
  border-right: solid 2px #e2dddd;
  padding: 30px 10px 10px 10px;
}
.motivate img {
  width: 50%;
  padding-bottom: 15px;
}
.motivate p {
  font-size: 16px;
}
.simple {
  width: 50%;
  padding: 30px 10px 10px 10px;
}
.simple img {
  width: 60%;
  border-radius: 6px;
  margin-bottom: 15px;
}
.simple p {
  font-size: 15px;
}
@media (max-width: 1000px) {
  .intro p {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .middle-info h3 {
    font-size: 32px;
  }
}
@media (max-width: 1000px) {
  .bottom-info .simple h3 {
    padding-bottom: 50px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .person h3 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .person p {
    padding: 0 0 25px 0;
  }
}
@media (max-width: 500px) {
  .sixExercise {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .person h3 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .person p {
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .bottom-info {
    display: block;
  }
}
@media (max-width: 500px) {
  .motivate {
    width: 100%;
    border-right: none;
    border-bottom: solid 2px #e2dddd;
    padding: 10px;
  }
  .motivate img {
    width: 100%;
  }
  .motivate h3 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .simple {
    width: 100%;
  }
  .simple img {
    width: 100%;
  }
  .simple h3 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .bottom-info .simple h3 {
    padding-bottom: 10px;
  }
}
