.us {
    font-size: 40px;
}
.home-page {
    padding: 10px;
}
.top-info {
    text-align: center;
    display: flex;
    align-items: baseline;

    h3 {
        font-size: 16.7px;
        font-weight: 700;
        padding-bottom: 10px;
    }
}
.middle-info {
    .usPics {
        width: 234px;
        height: 234px;
        border-radius: 100%;
    }
}
.bottom-info {
    border-top: solid 2px darkgray;
}