.us {
    font-size: 40px;
}
.home-page {
    padding: 10px;
}
.top-info {
    text-align: center;
    display: flex;
    align-items: baseline;

    h3 {
        font-size: 16.7px;
        font-weight: 700;
        padding-bottom: 10px;
    }
}
.middle-info {
    .usPics {
        width: 234px;
        height: 234px;
        border-radius: 100%;
    }
}

@media (max-width: 500px) {
    .top-info {
        display: block;

        h3 {
            font-size: 30px;
        }
    }
}
@media (max-width: 500px) {
    .middle-info {
        .usPics {
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
}