.home-page {
    background: @light-grey;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
}
.intro {
    display: flex;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: darkgray;
    font-weight: 700;
    
    p {
        border-bottom: solid 2px darkgray;
        width: 100%;
        padding-bottom: 30px;
    }
}