.container.contact {
}

.contactHeading {
	text-align: center;
	margin: 2rem 0;
}

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 1.2rem;
	border: 1px solid red;
	border-radius: 0.4rem;
	box-sizing: border-box;
	margin: 0.6rem auto 1.6rem auto;
	resize: vertical;
}

input[type="submit"] {
	background: @flexlightblue;
	// color: @flexdarkblue;
	padding: 1.2rem 2rem;
	border: none;
	border-radius: 0.4rem;
	cursor: pointer;

	&:hover {
		background: red;
	}
}

.contactForm {
	max-width: 95%;
	margin: 4rem auto;
	border-radius: 0.5rem;
	background: @flexgray;
	padding: 2rem;
	font-size: 2rem;
	font-family: "lato";
}
