// .container.contact {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-content: center;
// 	align-items: center;
// }

.contactHeading {
	text-align: center;
	margin: 1.5rem auto;
	max-width: 65%;
	padding: 2rem;
	text-align: center;

	@media @tablet {
		max-width: 95%;
	}
	@media @phone {
		max-width: 95%;
	}
}

input[type="text"],
input[type="email"],
select,
textarea {
	width: 100%;
	padding: 1.2rem;
	border: 1px solid @darkblue2;
	border-radius: 0.4rem;
	box-sizing: border-box;
	margin: 0.6rem auto 1.6rem auto;
	resize: vertical;
}
#role {
	font-size: 1.5rem;
}

input[placeholder] {
	font-size: 1.5rem;
}

.contactForm {
	max-width: 65%;
	margin: 4rem auto;
	border-radius: 0.5rem;
	background: @flexgray;
	padding: 2rem;
	font-size: 2rem;
	font-family: "lato";
	border: 4px solid @flexdarkblue;
	border-radius: 25px;

	@media @tablet {
		max-width: 95%;
	}
	@media @phone {
		max-width: 95%;
	}
}
