.footerContainer {
    background: @flexdarkblue;
    margin: inherit;

    footer {
        width: 95%;
        background: @flexdarkblue;
        margin: inherit;
        height: 10rem;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-family: "Lato";
            font-weight: 330;
          }
          button {
            font-size: 2rem;
            .my-button();
          }

    }
}