* {
  box-sizing: border-box;
}
html, body {
  font-size: 62.5%;
  width: 100%;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p,a,button {
  font-family: "lato"
}



h1 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 4rem;
}
p {
  font-size: 1.6rem;
}