.head2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0 8rem 0;
    width: 100%;
    background: @flexgray;
    margin: 0 0 4rem 0;

    @media @phone {
        flex-direction: column-reverse;
        padding: 2.5rem 0 4rem 0;
    }


    // .textHolder {
    //     display: flex;
    //     flex-direction: column;
    //     max-width: 100%;
    //     text-align: left;
    //     margin: 0 2rem;
    //     padding-right: -1rem;

    //     @media @phone {
    //         flex-direction: row;
    //         max-width: 100%;
    //         flex-wrap: wrap;
    //         // align-content: center;
    //         justify-content: center;
    //     }

    //     h1 {
    //         font-size: 5rem;
    //         line-height: 6rem;
    //         color: @flexdarkblue;

    //         @media @phone {
    //         }

            
    //     }
    //     h1:last-of-type{
    //         color: @flexlightblue;
    //         line-height: 6rem;
    //     }
    
    

       



    // }


        p {
            margin-top: 2rem;
            line-height: 3rem;
            font-size: 2.3rem;
            color: black;
        }
    }


    .care {
        background: blue;
        width: 300rem;
        height: 300rem;
    }


    .partners {
        background: yellow;
        width: 300rem;
        height: 300rem;
    }

    .imgHolder {
        max-width: 100%;
        margin: 0 2rem;

        @media @phone {
            max-width: 100%;
            margin: 0 1rem 2rem 1rem;
        }

        img {
            max-width: 100%;


        }
    }
    
