.container {
    background: #3C7187;
    height: 100%;
    margin: 0 auto;

    * {
        margin: inherit
    }


.bodyContainer {
width: 85%;
background: yellow;
margin: 0 auto;

* {
    width: 100%;
}

.head {
    img{

    }

}

}
}