.container {
    background: white;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    border: 1px solid yellow;



.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0;
    width: 100%;
    background: @flexgray;
    margin: inherit;


    .textHolder {
        display: flex;
        flex-direction: column;
        max-width: 35%;
        text-align: left;
        margin: 0 2rem;
        padding-right: -1rem;


        h1:first-child{
            font-size: 5rem;
            line-height: 6rem;
            color: @flexdarkblue;
        }
        h1:last-child{
            color: @flexlightblue;
        }


        p {
            margin-top: 2rem;
            line-height: 3rem;
            font-size: 2.3rem;
            color: black;
        }
    }

    .vidHolder {
        max-width: 55%;
        margin: 0 2rem;

        video {
            max-width: 100%;


        }
    }

}

.body {
    margin: 0 auto;

    .bodyContent{
        margin-top: 4rem;
        max-width: 100%;

        .faces {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;

            .face {
                height: 10%;
                width: 10%;
                border-radius: 50%;
            }

        }
        .textHolder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 3rem;

        }
    }
}

.contentSquares{
    margin: 10rem 0;
    width: 100%;

    .square1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        align-items: center;

        .squareImg{
            width: 50%;

            .squarePic{

            }
        }
        .squareText{
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
}

}
