.navContainer {
	background: @flexdarkblue;
	padding: 1rem 0;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;

	.navBar {
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		align-content: baseline;
		color: white;
		padding: 1rem 0;
		margin: 0 auto;

		@media @tablet {
			align-items: center;
		}

		@media @phone {
			justify-content: space-evenly;
			// align-items: center;
			// align-content: center;
			align-items: normal;
		}

		.navLogo {
			font-size: 3rem;
			width: 30%;
			margin: 0 auto;

			@media @phone {
				width: fit-content;
				// position: fixed;
			}
			h2 {
				font-family: "Lato";
				font-weight: 330;
				width: fit-content;
			}
		}

		nav {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: space-between;
			align-items: baseline;
			width: 60%;
			font-family: "Lato";
			font-weight: 300;
			margin: 0 auto;

			@media @tablet {
				display: flex-end;
				width: fit-content;
			}

			@media @phone {
				display: none;
			}

			a {
				text-decoration: none;
				font-size: 2rem;
				color: white;
				width: fit-content;

				@media @tablet {
					display: none;
				}
			}
			button {
				font-size: 2rem;
				.tbBtn();

				@media @tablet {
					display: none;
				}
			}

			.activeNav {
				background: white;
			}
		}

		.mobile {
			display: none;

			@media @phone {
				display: flex;
				width: fit-content;
				display: column;
				z-index: 2;
			}

			@media @tablet {
				display: flex;
				width: fit-content;
				display: column;
				z-index: 2;
			}
			.slideBtn {
				// position: fixed;
				// z-index: auto;
				width: fit-content;
				// float: right;
				// z-index: 1;
			}
		}
	}
}
.slideMenu {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	z-index: 1;

	.slideContent {
		background-color: lavender;
		width: 85%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2.5px solid red;
		margin: auto;
		z-index: 1;
	}

	.slideLink {
		width: 100%;
		text-align: center;
		padding: 15px 0;
		font-size: 18px;
		text-decoration: none;
		color: red;
		&:hover {
			color: white;
			background-color: red;
		}
	}
	.slideHidden {
		display: none;
	}
}
@media (min-height: 500px) {
	.sticky {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		width: 100%;
		opacity: 0.95;
		z-index: 1;
	}
}
