.navContainer {
	background: @flexdarkblue;
	padding: 1rem 0;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;

	.navBar {
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		align-content: baseline;
		color: white;
		padding: 1rem 0;
		margin: 0 auto;

		@media @tablet {
			align-items: center;
		}

		@media @phone {
			justify-content: space-evenly;
			align-items: normal;
		}

		.navLogo {
			font-size: 3rem;
			width: 30%;
			margin: 0 auto;

			@media @phone {
				width: fit-content;
			}
			h2 {
				font-family: "Lato";
				font-weight: 330;
				width: fit-content;
			}
		}

		nav {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: space-between;
			align-items: baseline;
			width: 60%;
			font-family: "Lato";
			font-weight: 300;
			margin: 0 auto;

			@media @tablet {
				display: flex-end;
				width: fit-content;
			}

			@media @phone {
				display: none;
			}

			a {
				text-decoration: none;
				font-size: 2rem;
				color: white;
				width: fit-content;

				@media @tablet {
					display: none;
				}
			}
			button {
				min-width: 28%;
				position: static;
				margin-left: 4%;
				@media @tablet {
					display: none;
				}
			}

			.activeNav {
				background: white;
			}
		}

		.mobile {
			display: none;

			@media @phone {
				display: flex;
				width: fit-content;
				display: column;
				z-index: 2;
			}

			@media @tablet {
				display: flex;
				width: fit-content;
				display: column;
				z-index: 2;
			}
			.slideBtn {
				width: fit-content;
			}
		}
	}
	.navMap {
		width: 100%;
		display: flex;

		.navBar {
			width: 95%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: baseline;
			align-content: baseline;
			color: white;
			padding: 1rem 0;
			margin: 0 auto;
			position: static;

			@media @tablet {
				align-items: center;
			}

			@media @phone {
				justify-content: space-evenly;
				// align-items: center;
				// align-content: center;
				align-items: normal;
			}

			nav {
				display: inline-block;
				flex-direction: row;
				justify-content: flex-end;
				width: 25%;
				font-family: "Lato";
				font-weight: 300;
				margin: 0 2.5%;
				position: static;
				right: 55rem;
				left: 25rem;

				@media @tablet {
					display: flex-end;
					width: fit-content;
				}

				@media @phone {
					display: none;
				}

				a {
					text-decoration: none;
					font-size: 1.65rem;
					color: white;
					min-width: 45%;
					font-weight: 50;
					text-align: right;
					// left: 100%;
					// position: static;
					// margin: 0 2%;

					@media @tablet {
						display: none;
					}
				}
				.nav2right {
					// color: rgb(0, 255, 81);
					// padding-right: 2%;
					// margin-right: 5%;
				}
				.nav2left {
					// color: rgb(24, 213, 255);
					// padding-left: 7%;
					margin-left: 8%;
					// 	// margin-left: 2rem;
				}

				button {
					@media @tablet {
						display: none;
					}
				}
			}
		}
	}
}

.slideMenu {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	z-index: 1;

	.slideContent {
		background-color: rgba(0, 33, 71, 0.9);
		// opacity: 0.8;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 0.5rem solid @flexdarkblue;
		margin: auto;
		z-index: 1;
		border-radius: 3rem;
		overflow: hidden;
		margin-top: -0.65rem;
	}

	.slideLink {
		width: 100%;
		text-align: center;
		padding: 15px 0;
		font-size: 18px;
		text-decoration: none;
		color: white;
		border-top: 1px solid @flexlightblue;
		border-bottom: 1px solid @flexlightblue;
		padding: 1.5rem 0;
		z-index: 0;

		&:hover {
			color: white;
			background-color: rgba(122, 145, 171, 0.9);
		}
	}
	.slideHidden {
		display: none;
	}
}
@media (min-height: 500px) {
	.sticky {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		width: 100%;
		opacity: 0.95;
		z-index: 1;
	}
}
