/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "lato";
}
h1 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 4rem;
}
p {
  font-size: 1.6rem;
}
.navContainer {
  background: #002147;
  padding: 1rem 0;
}
.navContainer .navBar {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  padding: 1rem 0;
  margin: 0 auto;
}
.navContainer .navBar .navLogo {
  font-size: 3rem;
  width: 50%;
}
.navContainer .navBar .navLogo h2 {
  font-family: "Lato";
  font-weight: 300;
}
.navContainer .navBar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
  font-family: "Lato";
  font-weight: 300;
}
.navContainer .navBar nav a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.navContainer .navBar nav button {
  font-size: 2rem;
  width: 15%;
  height: 5rem;
  background: #279ccf;
  border: none;
  padding: 0;
  margin: 0;
}
.navContainer .navBar nav button:hover {
  color: white;
}
.footerContainer {
  background: #002147;
  margin: inherit;
}
.footerContainer footer {
  width: 99%;
  background: #002147;
  margin: inherit;
  height: 10rem;
  color: white;
}
.container {
  background: white;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  border: 1px solid yellow;
}
.container .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0;
  width: 100%;
  background: #f5f8fa;
  margin: inherit;
  border: 1px solid red;
}
.container .head .textHolder {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  text-align: left;
  margin: 0 2rem;
  padding-right: -1rem;
}
.container .head .textHolder h1:first-child {
  font-size: 5rem;
  line-height: 6rem;
  color: #002147;
}
.container .head .textHolder h1:last-child {
  color: #279ccf;
}
.container .head .textHolder p {
  margin-top: 2rem;
  line-height: 3rem;
  font-size: 2.3rem;
  color: black;
}
.container .head .vidHolder {
  max-width: 55%;
  margin: 0 2rem;
}
.container .head .vidHolder video {
  max-width: 100%;
}
.container .body .bodyContent {
  margin-top: 4rem;
}
.container .body .bodyContent .faces {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .body .bodyContent .faces .face {
  height: 20rem;
  border-radius: 50%;
}
.container .body .bodyContent .textHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
