/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  z-index: -1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "lato";
}
h1 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 4rem;
}
p {
  font-size: 1.6rem;
}
.btn {
  border: none;
  font-family: "lato";
  font-size: "inherit";
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 12.5px 40px;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:after {
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-signUp {
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
  font-size: 1.4rem;
}
.btn-signUp:hover {
  background: #279ccf;
  color: #002147;
}
.btn-partnerPage {
  border-radius: 50px;
  border: 3px solid #002147;
  color: #279ccf;
  overflow: hidden;
  font-size: 1.4rem;
}
.btn-partnerPage:hover {
  background: #279ccf;
  color: #002147;
}
.growNav {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 1.3s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  z-index: 1;
}
.growNav:hover,
.growNav:focus,
.growNav:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1;
}
.navContainer {
  background: #002147;
  padding: 1rem 0;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 7;
}
.navContainer .navBar {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: baseline;
  color: white;
  padding: 1rem 0;
  margin: 0 auto;
  z-index: 7;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navBar {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .navContainer .navBar {
    justify-content: space-evenly;
    align-items: normal;
  }
}
.navContainer .navBar .navLogo {
  font-size: 3rem;
  width: 30%;
  margin: 0 auto;
  z-index: 7;
}
@media (max-width: 500px) {
  .navContainer .navBar .navLogo {
    width: fit-content;
  }
}
.navContainer .navBar .navLogo h2 {
  font-family: "Lato";
  font-weight: 330;
  width: fit-content;
}
.navContainer .navBar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
  width: 60%;
  font-family: "Lato";
  font-weight: 300;
  margin: 0 auto;
  z-index: 7;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navBar nav {
    display: flex-end;
    width: fit-content;
  }
}
@media (max-width: 500px) {
  .navContainer .navBar nav {
    display: none;
  }
}
.navContainer .navBar nav a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  width: fit-content;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navBar nav a {
    display: none;
  }
}
.navContainer .navBar nav button {
  min-width: 28%;
  position: static;
  margin-left: 4%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navBar nav button {
    display: none;
  }
}
.navContainer .navBar nav .activeNav {
  background: white;
}
.navContainer .navBar .mobile {
  display: none;
}
@media (max-width: 500px) {
  .navContainer .navBar .mobile {
    display: flex;
    width: fit-content;
    display: column;
    z-index: 2;
  }
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navBar .mobile {
    display: flex;
    width: fit-content;
    display: column;
    z-index: 2;
  }
}
.navContainer .navBar .mobile .slideBtn {
  width: fit-content;
}
.navContainer .navMap {
  width: 100%;
  display: flex;
}
.navContainer .navMap .navBar {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  align-content: baseline;
  color: white;
  padding: 1rem 0;
  margin: 0 auto;
  position: static;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navMap .navBar {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .navContainer .navMap .navBar {
    justify-content: space-evenly;
    align-items: normal;
  }
}
.navContainer .navMap .navBar nav {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-end;
  width: 25%;
  font-family: "Lato";
  font-weight: 300;
  margin: 0 2.5%;
  position: static;
  right: 55rem;
  left: 25rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navMap .navBar nav {
    display: flex-end;
    width: fit-content;
  }
}
@media (max-width: 500px) {
  .navContainer .navMap .navBar nav {
    display: none;
  }
}
.navContainer .navMap .navBar nav a {
  text-decoration: none;
  font-size: 1.65rem;
  color: white;
  min-width: 45%;
  font-weight: 50;
  text-align: right;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navMap .navBar nav a {
    display: none;
  }
}
.navContainer .navMap .navBar nav .nav2left {
  margin-left: 8%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .navContainer .navMap .navBar nav button {
    display: none;
  }
}
.slideMenu {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.slideMenu .slideContent {
  background-color: rgba(0, 33, 71, 0.985);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid #002147;
  margin: auto;
  z-index: 1;
  border-radius: 3rem;
  overflow: hidden;
  margin-top: -0.65rem;
}
.slideMenu .slideLink {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border-top: 1px solid #279ccf;
  border-bottom: 1px solid #279ccf;
  padding: 1.5rem 0;
  z-index: 0;
}
.slideMenu .slideLink:hover {
  color: white;
  background-color: rgba(122, 145, 171, 0.9);
}
.slideMenu .slideHidden {
  display: none;
}
@media (min-height: 500px) {
  .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    opacity: 0.95;
    z-index: 7;
  }
}
.btn.btn-partnerPage.sL {
  background: white;
}
.btn.btn-partnerPage.sL:hover {
  background: #279ccf;
  color: #002147;
}
.footerContainer {
  background: #002147;
  margin: 0 auto;
}
.footerContainer footer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.footerContainer footer .footerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  padding: 2rem 0;
}
.footerContainer footer .footerItems .footerBtn {
  border-radius: 10px;
  border: 0.5px solid #fff;
  color: #fff;
  overflow: hidden;
  text-align: center;
  margin: 0 0.3%;
  padding: 1% 3%;
  width: fit-content;
  font-size: 250%;
}
.container {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(to bottom right, #f5f8fa, #ffffff);
}
@media (max-width: 500px) {
}
.container .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0 8rem 0;
  width: 100%;
  background: #f5f8fa;
  margin: 0 0 4rem 0;
}
@media (min-width: 502px) and (max-width: 999px) {
  .container .head {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .container .head {
    flex-direction: column-reverse;
    padding: 2.5rem 0 4rem 0;
  }
}
.container .head .textHolder {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  text-align: left;
  margin: 0 2rem;
  padding-right: -1rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .container .head .textHolder {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .container .head .textHolder {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
}
.container .head .textHolder h1 {
  font-size: 5rem;
  line-height: 6rem;
  color: #002147;
}
.container .head .textHolder h1:last-of-type {
  color: #279ccf;
  line-height: 6rem;
}
.container .head .vidHolder {
  max-width: 55%;
  margin: 0 2rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .container .head .vidHolder {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .container .head .vidHolder {
    max-width: 100%;
  }
}
.container .head .vidHolder video {
  max-width: 100%;
  border: 3px solid #002147;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px #000000;
  -moz-box-shadow: 2px 2px 5px 0px #000000;
  box-shadow: 2px 2px 5px 0px #000000;
}
.container .head p {
  margin-top: 2rem;
  line-height: 3rem;
  font-size: 2.3rem;
  color: black;
}
.body {
  margin: 0 auto;
  margin-top: 8rem;
}
.body .bodyContent {
  margin-top: 4rem;
  max-width: 100%;
}
@media (max-width: 500px) {
  .body .bodyContent {
    margin-top: 1rem;
  }
}
.body .bodyContent .faces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .body .bodyContent .faces {
    max-width: 95%;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
}
.body .bodyContent .faces .face {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .body .bodyContent .faces .face {
    width: 25%;
  }
}
.body .bodyContent .faces .faceHvr {
  -webkit-box-shadow: 2px 2px 5px 0px #000000;
  -moz-box-shadow: 2px 2px 5px 0px #000000;
  box-shadow: 2px 2px 5px 0px #000000;
}
.body .bodyContent .textHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}
.body .bodyContent .mainHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  width: 100%;
  padding: 4rem 0;
  background: #002047;
  vertical-align: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .body .bodyContent .mainHolder {
    padding: 2rem 0;
    height: fit-content;
    margin: 7rem auto;
    align-items: center;
  }
}
.body .bodyContent .mainHolder button {
  margin-top: 2.3rem;
}
.body .bodyContent .mainHolder .textHolder2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .body .bodyContent .mainHolder .textHolder2 {
    padding: 2rem 0;
    margin: 1rem auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .body .bodyContent .mainHolder .textHolder2 {
    flex-direction: column;
    align-items: baseline;
  }
}
.body .bodyContent .mainHolder .textHolder2 .h2 {
  width: 40%;
  font-weight: 480;
  height: 50%;
  padding-left: 4%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .body .bodyContent .mainHolder .textHolder2 .h2 {
    padding-left: 0;
    width: 40%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .body .bodyContent .mainHolder .textHolder2 .h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-left: 0;
    width: 80%;
    margin: 0 auto;
  }
}
.body .bodyContent .mainHolder .textHolder2 .h2 h2 {
  color: #279ccf;
}
@media (min-width: 502px) and (max-width: 999px) {
  .body .bodyContent .mainHolder .textHolder2 .h2 h2 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .body .bodyContent .mainHolder .textHolder2 .h2 h2 {
    line-height: 5rem;
    flex-wrap: nowrap;
    text-align: center;
  }
}
.body .bodyContent .mainHolder .textHolder2 .h2 h2:last-of-type {
  color: white;
  line-height: 15rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .body .bodyContent .mainHolder .textHolder2 .h2 h2:last-of-type {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .body .bodyContent .mainHolder .textHolder2 .h2 h2:last-of-type {
    line-height: 5rem;
  }
}
.body .bodyContent .mainHolder .textHolder2 .p {
  width: 40%;
  height: 50%;
  padding-left: 8%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .body .bodyContent .mainHolder .textHolder2 .p {
    padding-left: 0;
    width: 40%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .body .bodyContent .mainHolder .textHolder2 .p {
    padding-left: 0;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 8%;
    margin: 0 auto;
  }
}
.body .bodyContent .mainHolder .textHolder2 .p p {
  font-size: 2.6rem;
  line-height: 4rem;
  font-weight: 300;
  color: white;
  width: 100%;
}
@media (max-width: 500px) {
  .body .bodyContent .mainHolder .textHolder2 .p p {
    font-size: 2.1rem;
  }
}
.contentSquares {
  margin: 10rem 0;
  width: 100%;
}
.contentSquares .square1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentSquares .square1 {
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .contentSquares .square1 {
    flex-direction: column;
  }
}
.contentSquares .square1 .squareImg {
  width: 45%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentSquares .square1 .squareImg {
    width: fit-content;
  }
}
@media (max-width: 500px) {
  .contentSquares .square1 .squareImg {
    width: 95%;
  }
}
.contentSquares .square1 .squareImg .squarePic {
  max-width: 100%;
}
.contentSquares .square1 .squareText {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentSquares .square1 .squareText {
    width: fit-content;
    margin: 5rem auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contentSquares .square1 .squareText {
    width: 100%;
    text-align: center;
  }
}
.contentSquares .square1 .squareText h2 {
  margin: 1rem 0;
  font-size: 3.3rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentSquares .square1 .squareText h2 {
    width: fit-content;
    margin: 0 auto 1rem auto;
  }
}
.contentSquares .square1 .squareText p {
  font-size: 2.2rem;
  margin: 1rem 0;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentSquares .square1 .squareText p {
    width: fit-content;
    margin: 0 auto;
  }
}
.contentSquares .square2 {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 500px) {
  .contentSquares .square2 {
    flex-direction: column;
    text-align: center;
  }
}
.contentSquares .square2 .squareImg {
  width: 45%;
}
@media (max-width: 500px) {
  .contentSquares .square2 .squareImg {
    width: 100%;
  }
}
.contentSquares .square2 .squareImg .squarePic {
  max-width: 100%;
}
.contentSquares .square2 .squareText {
  width: 45%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .contentSquares .square2 .squareText {
    width: 100%;
  }
}
.contentSquares .square2 .squareText h2 {
  margin: 1rem 0;
  font-size: 3.3rem;
}
.contentSquares .square2 .squareText p {
  font-size: 2.2rem;
  margin: 1rem 0;
}
.together {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.together .toghetherContent {
  max-width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  overflow: auto;
  height: 100%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2rem auto;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent {
    flex-direction: column-reverse;
  }
}
.together .toghetherContent .textWBtn {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  text-align: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent .textWBtn {
    width: 80%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2rem 0;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent .textWBtn {
    width: 80%;
    text-align: center;
    margin: 2rem 0;
  }
}
.together .toghetherContent .textWBtn .textHolder {
  align-items: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent .textWBtn .textHolder {
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent .textWBtn .textHolder {
    text-align: center;
  }
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent .textWBtn .textHolder h2 {
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent .textWBtn .textHolder h2 {
    text-align: center;
  }
}
.together .toghetherContent .textWBtn .textHolder p {
  line-height: 3rem;
  margin: 3rem 0;
  font-size: 2.5rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent .textWBtn .textHolder p {
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent .textWBtn .textHolder p {
    text-align: center;
  }
}
.together .toghetherContent .imageHolderTg {
  width: 45%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent .imageHolderTg {
    width: fit-content;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent .imageHolderTg {
    width: fit-content;
    margin: 0 auto;
  }
}
.together .toghetherContent .imageHolderTg img {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .toghetherContent .imageHolderTg img {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .together .toghetherContent .imageHolderTg img {
    max-width: 100%;
    margin: 0 auto;
  }
}
.together .careIndex {
  flex-direction: row-reverse;
}
@media (min-width: 502px) and (max-width: 999px) {
  .together .careIndex {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .together .careIndex {
    flex-direction: column-reverse;
  }
}
.head2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f5f8fa;
  margin: 0 0 4rem 0;
}
@media (max-width: 500px) {
  .head2 {
    padding: 2.5rem 0 4rem 0;
  }
}
.head2 .textHolder {
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}
.head2 .imgHolder {
  max-width: 100%;
}
@media (max-width: 500px) {
  .head2 .imgHolder {
    max-width: 100%;
  }
}
.head2 .imgHolder img {
  max-width: 100%;
}
.head2 .headInfo {
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}
.head2 .headInfo h2 {
  font-weight: 600;
}
.head2 .headInfo p {
  margin-top: 2rem;
  line-height: 3rem;
  font-size: 2.3rem;
  color: black;
  font-weight: 300;
}
.main {
  display: flex;
  flex-direction: column;
}
.main .imgHolder {
  max-width: 100%;
}
@media (max-width: 500px) {
  .main .imgHolder {
    max-width: 100%;
    margin: 0 0rem 2rem 0rem;
  }
}
.main .imgHolder img {
  max-width: 100%;
}
.main .textContent {
  max-width: 80%;
  margin: 3rem auto;
  text-align: center;
}
.main .textContent h2 {
  font-weight: 600;
}
.main .textContent p {
  margin-top: 2rem;
  line-height: 3rem;
  font-size: 2.3rem;
  color: black;
  font-weight: 300;
}
.main .textContent button {
  margin: 2rem 0;
}
.contentIndustry {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto 2rem auto;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentIndustry {
    flex-direction: column-reverse;
    max-width: 95%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .contentIndustry {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.contentIndustry .textHolder {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentIndustry .textHolder {
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contentIndustry .textHolder {
    max-width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
.contentIndustry .textHolder h3 {
  margin: 2rem auto;
  font-weight: 650;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentIndustry .textHolder h3 {
    width: 100%;
  }
}
.contentIndustry .textHolder .contentHold {
  margin: 1rem 0 1rem 3rem;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentIndustry .textHolder .contentHold {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto 3rem auto;
  }
}
@media (max-width: 500px) {
  .contentIndustry .textHolder .contentHold {
    margin: 1rem auto;
    width: auto;
    text-align: center;
  }
}
.contentIndustry .textHolder .contentHold h4 {
  margin: 0.8rem auto;
  font-size: 2.3rem;
  font-weight: 550;
}
.contentIndustry .textHolder .contentHold p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.contentIndustry .imageHolder {
  max-width: 40%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentIndustry .imageHolder {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .contentIndustry .imageHolder {
    max-width: 80%;
  }
}
.contentIndustry .imageHolder img {
  max-width: 80%;
  border-radius: 50%;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contentIndustry .imageHolder img {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .contentIndustry .imageHolder img {
    max-width: 100%;
  }
}
.contactHeading {
  margin: 1.5rem auto;
  max-width: 65%;
  padding: 2rem;
  text-align: center;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contactHeading {
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .contactHeading {
    max-width: 95%;
  }
}
.contactHeading h1 {
  margin-bottom: 1rem;
}
.contactHeading p {
  font-size: 1.9rem;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #002047;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin: 0.6rem auto 1.6rem auto;
  resize: vertical;
}
#role {
  font-size: 1.5rem;
}
input[placeholder] {
  font-size: 1.5rem;
}
.contactForm {
  max-width: 65%;
  margin: 4rem auto;
  border-radius: 0.5rem;
  background: #f5f8fa;
  padding: 2rem;
  font-size: 2rem;
  font-family: "lato";
  border: 4px solid #002147;
  border-radius: 25px;
}
@media (min-width: 502px) and (max-width: 999px) {
  .contactForm {
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .contactForm {
    max-width: 95%;
  }
}
